:root {
    --scale_factor: 0.9;
    --main-bg-color: powderblue;
    --title-font-size: calc(35px * var(--scale_factor));
    --body-font-size: calc(18px * var(--scale_factor));
    --details-font-size: smaller;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: f;
    src: url(./public/Please\ write\ me\ a\ song.ttf);
    /*Vanessa Bays @ http: //bythebutterfly.com*/
}

@font-face {
    font-family: f2;
    src: url(./public/Robotic\ Love.ttf);
}

@font-face {
    font-family: f3;
    src: url(./public/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

body {
    background-color: var(--main-bg-color);
    padding-left: 20px;
    font-size: var(--body-font-size);
    font-family: f3;
}

/*
.ctn-zoomist {
    width: 80%;
}

.ctn-zoomist .zoomist-image {
    aspect-ratio: 4 / 3;
}

.ctn-zoomist img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
*/
.zoom-container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
}

.image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* panning */
    cursor: grab;
}

/* panning */
.image-wrapper:active {
    cursor: grabbing;
}

#zoom-image {
    transition: transform 0.25s ease;
    will-change: transform;
    /*
    max-width: 100%;
    max-height: 100%;
    */
    max-width: none;
    /* allow the image to scale beyond the container size */
    max-height: none;
}

div img {
    width: 60%;
}

ul li {
    line-height: 40px;
    margin-left: 20px;
}

ul li li {
    line-height: 40px;
    margin-left: 40px;
}

.sm {
    width: 30%;
}

.ssm {
    width: 10%;
}

.md {
    width: 50%;
}

.txt-sm {
    font-size: var(--details-font-size);
}

#title {
    font-size: var(--title-font-size);
}

.idk {
    color: red;
}